.headerBlockHeading {
    font-size: 8rem;
}

.aboutSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 6rem 0;
}

.aboutArticle {
    width: 80%;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
}

.accommImage {
    width: 250px;
    height: 200px;
    object-fit: cover;
}