/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hide the images by default */
.mySlidesBox {
    width: 80%;
}

.mySlides {
    display: none;
    width: 100%;
    height: 75dvh;
}


.mainImage {
    width: 100%;
    object-fit: cover;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    /* background-color: purple; */
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #000;
    font-weight: bold;
    font-size: 4rem;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.row {
    width: 80%;
    /* max-width: fit-content; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1%;
    overflow-x: scroll;
    padding: 2rem 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    min-width: 150px;
    max-width: 220px;
    max-height: 100px;
    object-fit: cover;
}
  
.active,
.demo:hover {
    opacity: 1;
}