/* responsive1 */
@media (max-width:1700px) {
    
}

/* responsive2 */
@media (max-width:1500px) {
    
}

/* responsive3 */
@media (max-width:1359px) {
    
}

/* responsive4 */
@media (max-width:1249px) {
    
}

/* responsive5 */
@media (max-width: 1024px) {
    .thankYou-message {
        width: 80%;
        font-size: 2rem;
        text-align: center;
    }

    .buttonsBlock {
        width: 90%;
    }
}

/* responsive6 */
@media (max-width:911px) {
    .buttonLink {
        padding: 2rem 3rem;
    }
}

/* responsive7 */
@media (max-width:768px) {
    .buttonsBlock {
        flex-direction: column;
        row-gap: 5rem;
    }
}

/* responsive8 */
@media (max-width:639px) {
    .pageHeading {
        font-size: 5rem;
    }
}

/* responsive9 */
@media (max-width:430px) {
    .pageHeading {
        font-size: 4rem;
    }

    .buttonsBlock {
        width: 100%;
    }

    .accommBtn {
        width: 100%;
    }

    .buttonLink {
        width: 100%;
        padding: 2rem;
    }
}